.laramedia-uploader-dropzone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
	background-color: #F2F4F4;
	padding: 24px;
	margin-bottom: 12px;
	box-sizing: border-box;
	cursor: pointer;
	border: 4px dashed #e0e0e0;
	border-radius: 8px;
	min-height: 248px;
	cursor: pointer;
	position: relative;
}

.laramedia-uploader-dropzone:hover,
.laramedia-uploader-dropzone.laramedia-dropzone-highlight {
	background-color: #f0f0f0;
}

.laramedia-uploader-dropzone-filters {
	margin-bottom: 24px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.laramedia-uploader-dropzone-filters span {
	margin-right: 4px;
	font-weight: 700;
}

.laramedia-uploader-dropzone-filters select {
	background-color: #fff;
	margin-right: 24px;
}

.laramedia-uploader-dropzone-close {
	position: absolute;
	right: 18px;
	top: 18px;
}

.laramedia-uploader-dropzone-close i,
.laramedia-uploader-dropzone-close svg {
	font-size: 24px;
}

.laramedia-uploader-dropzone-icon i,
.laramedia-uploader-dropzone-icon svg {
	font-size: 48px;
	color: #6583fe;
}

.laramedia-uploader-dropzone-text {
	margin: 24px 0;
}

.laramedia-uploader-dropzone-button {
	display: none;
}
