#laramedia-file-editor-body {
	flex-direction: row;
}

#laramedia-file-editor-preview-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	background-color: #f2f4f4;
	padding: 24px;
	box-sizing: border-box;
	overflow-y: auto;
}

#laramedia-file-editor-contents {
	width: 50%;
	padding: 24px;
	box-sizing: border-box;
	overflow-y: auto;
}

#laramedia-file-editor-preview-container img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 400px;
}

.laramedia-file-editor-item-preview-container {
	display: none;
}

.laramedia-file-editor-item-preview-container i,
.laramedia-file-editor-item-preview-container svg {
	font-size: 148px;
}

#laramedia-file-editor-contents-separator {
	margin: 16px 0;
}

.laramedia-file-editor-display-content-form-group {
	display: flex;
	flex-direction: row;
	margin-bottom: 4px;
}

.laramedia-file-editor-display-content-title {
	font-weight: 700;
}

.laramedia-file-editor-display-content-data {
	padding-left: 4px;
}

.laramedia-file-editor-edit-content-form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}

.laramedia-file-editor-edit-content-label {
	font-weight: 700;
}

#laramedia-file-editor-contents-buttons {
	display: flex;
	flex-direction: row;
}

.laramedia-file-editor-btn {
	text-decoration: none !important;
	margin-right: 6px;
}

.laramedia-file-editor-contents-button {
	padding: 8px 12px;
	background-color: #2874A6;
	margin-right: 6px;
	border-radius: 4px;
	border: 1px solid #1B4F72;
	cursor: pointer;
	color: #fff;
	text-decoration: none !important;
}

.laramedia-file-editor-contents-button:hover {
	color: #fff;
	background-color: #21618C;
}

.laramedia-file-editor-form-control {
	border: 1px solid #eee;
	padding: 4px 4px;
	border-radius: 4px;
	font-size: 12px;
}

#laramedia-file-editor-update-btn i,
#laramedia-file-editor-update-btn svg,
#laramedia-file-editor-restore-btn i,
#laramedia-file-editor-restore-btn svg {
	color: #3498DB;
}

#laramedia-file-editor-trash-btn i,
#laramedia-file-editor-trash-btn svg,
#laramedia-file-editor-destroy-btn i,
#laramedia-file-editor-destroy-btn svg {
	color: #E74C3C;
}
