#laramedia-files-wrapper {
	display: flex;
	flex-direction: column;
}

#laramedia-files-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 24px;
}

#laramedia-no-files-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 240px;
	background-color: #F2F4F4;
	border: 1px solid #eee;
}

#laramedia-no-files-container-title {
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	width: 100%;
	padding: 24px 24px 0 24px;
	font-weight: 700;
	font-size: 1.5rem;
}

#laramedia-no-files-container-content {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
	padding: 24px;
}

.laramedia-files-item-wrapper {
	display: flex;
	box-sizing: border-box;
	padding: 6px;
}

.laramedia-files-item-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f4f4;
	border: 1px solid #eee;
	width: 148px;
	height: 148px;
	box-sizing: border-box;
	cursor: pointer;
}

.laramedia-files-none-image-container {
	display: flex;
	flex-direction: column;
}

.laramedia-files-item-icon {
	width: 100%;
	height: 50%;
	padding: 12px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.laramedia-files-item-icon img {
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
}

.laramedia-files-item-icon i,
.laramedia-files-item-icon svg {
	font-size: 48px;
}

.laramedia-files-item-name {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	width: 100%;
	height: 50%;
	background-color: #f0f0f0;
	padding: 6px;
	overflow-y: auto;
	box-sizing: border-box;
	font-size: 0.75rem;
	text-align: center;
	word-break: break-word;
}

.laramedia-files-image {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
