.laramedia-filters-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	margin-bottom: 6px;
}

.laramedia-listings-filters-left {
	display: flex;
	flex-wrap: wrap;
}

.laramedia-listings-filters-right {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}

.laramedia-filter-container {
	display: flex;
	align-items: center;
	height: 36px;
	margin-bottom: 6px;
}

.laramedia-filter-select {
	flex-shrink: 0;
	height: 36px;
	width: 148px;
	background-color: #F2F4F4;
	padding: 0 6px;
	border-radius: 4px;
	outline: none;
	border: 1px solid #eee;
	box-sizing: border-box;
}

.laramedia-filter-select-container {
	margin-right: 4px;
}

#laramedia-filter-search-container {
	display: flex;
	justify-content: end;
	flex-grow: 1;
}

#laramedia-filter-search {
	height: 100%;
	max-width: 240px;
	background-color: #F2F4F4;
	padding: 0 8px;
	border: 1px solid #eee;
	border-radius: 4px;
	box-sizing: border-box;
}

.laramedia-filter-section-container {
	margin-left: 8px;
	cursor: pointer;
	font-size: 26px;
}

.laramedia-filter-section-container {
	color: #AEB6BF;
}

.laramedia-filter-section-container:hover {
	color: #85929E;
}

#laramedia-filter-active-section-container.laramedia-current-section {
	color: #0096FB;
}

#laramedia-filter-trash-section-container.laramedia-current-section {
	color: #E74C3C;
}
