.laramedia-hidden {
	display: none !important;
}

.laramedia-btn {
 	padding: 6px 16px;
 	border-radius: 4px;
 	cursor: pointer;
}

.laramedia-btn-secondary {
	color: #fff;
	background-color: #85929E;
}

.laramedia-btn-secondary:hover {
	background-color: #808B96;
}

.laramedia-disabled-button {
	background-color: #fff !important;
}

.laramedia-disabled-button:hover {
	background-color: #fff !important;
}
