.laramedia-hidden {
	display: none !important;
}

.laramedia-btn {
 	padding: 6px 16px;
 	border-radius: 4px;
 	cursor: pointer;
}

.laramedia-btn-secondary {
	color: #1f3951;
	background-color: #D6DBDF;
}

.laramedia-btn-secondary:hover {
	color: #1f3951;
	background-color: #CCD1D1;
}

.laramedia-btn-primary {
	color: #e1f0fa;
	background-color: #3498DB;
}

.laramedia-btn-primary:hover {
	color: #e1f0fa;
	background-color: #2E86C1;
}

.laramedia-disabled-button {
	background-color: #fff !important;
}

.laramedia-disabled-button:hover {
	background-color: #fff !important;
}
