#laramedia-listings-wrapper {
	display: flex;
	flex-direction: column;
}

#laramedia-listings-header {
	display: flex;
	align-items: center;
}

#laramedia-listings-body {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
}
