#laramedia-listings-wrapper {
	display: flex;
	flex-direction: column;
}

#laramedia-listings-header {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

#laramedia-listings-body {
	display: flex;
	flex-direction: column;
}

#laramedia-listings-filters-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 12px;
}

#laramedia-listings-filter-active-section-container,
#laramedia-listings-filter-trash-section-container {
	color: #808B96;
}

#laramedia-listings-filter-active-section-container.laramedia-current-section {
	color: #2E86C1;
}

#laramedia-listings-filter-trash-section-container.laramedia-current-section {
	color: #E74C3C;
}
