#laramedia-files-errors-container {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #f2f4f4;
	padding: 6px 12px;
	margin-bottom: 12px;
	border: 1px solid #eee;
	border-radius: 6px;
	box-sizing: border-box;
	overflow: hidden;
}

#laramedia-files-error-close {
	position: absolute;
	right: 22px;
	top: 10px;
	cursor: pointer;
}

#laramedia-files-error-close i,
#laramedia-files-error-close svg {
	font-size: 24px;
}

.laramedia-files-error {
	margin-bottom: 6px;
	padding-right: 48px;
	min-width: 250px;
	overflow: hidden;
}

.laramedia-files-error-name-container {
	display: flex;
	align-items: center;
}

.laramedia-files-error-remove {
	margin-left: 4px;
	color: #CB4335;
	font-weight: 700;
	font-style: italic;
	cursor: pointer;
}

.laramedia-files-error-reason {
	font-size: 12px;
	font-style: italic;
	padding-left: 12px;
}
